body, html {
    font-family: 'Quicksand', sans-serif;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    /* background-image: linear-gradient(to bottom right, #fff7ed, #fc7613); */
    /* background-image: linear-gradient(to bottom right, #fff7ed, #ff9346); */
    /* background-image: linear-gradient(to bottom right, #f1efe7, #c1bfb9); */
    background-color: #f1efe7;
    overflow: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 400px;
    height: 200px;
    padding: 30px;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(5px); 
}

#formulari {
    width: 100%;
}

label {
    display: flex;
    font-weight: bold;
    padding-bottom: 20px;
    height: 50px;
    align-items: center;
}

input[type="text"],
input[type="email"],
input[type="number"],
input[type="textarea"],
input[type="date"],
select,
textarea {
    width: 100%;
    padding: 12px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    background-color: rgba(255, 255, 255, 0.9);
    font-family: 'Quicksand', sans-serif;
}

select {
    appearance: none;
    -webkit-appearance: none;
    background-image: url('data:image/svg+xml;utf8,<svg fill="black" width="20" height="20" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path d="M15.753 6.72c-.67-.68-1.755-.68-2.427 0L10 9.973 6.673 6.72c-.672-.68-1.756-.68-2.427 0-.67.68-.67 1.784 0 2.464l4.546 4.6c.336.34.784.51 1.22.51s.882-.17 1.22-.51l4.547-4.6c.67-.68.67-1.784 0-2.464z" fill="%23000000"/><\/svg>');
    background-repeat: no-repeat;
    background-position: right 10px top 50%;
    padding-right: 30px;
}

textarea {
    resize: vertical;
    min-height: 100px;
    background-color: rgba(255, 255, 255, 0.9);
}

input::placeholder, select::placeholder, textarea::placeholder, button {
    font-family: 'Quicksand', sans-serif;
}

.error-message {
    color: red;
    font-style: italic;
}

.submit-button {
    background-color: #fc7613;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.3s ease;
}

.space-div {
    display: flex;
    justify-content: space-between;
}

.right-div {
    display: flex;
    justify-content: right;
}

.form-buttons {
    background-color: #ffb057;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.3s ease;
}

.submit-button:hover {
    background-color: #c54409;
}

.form-buttons:hover {
    background-color: #fe9639;
}

.titol-enquesta {
    /* color: #fe9639; */
    color: black;
    padding: 0.5rem; 
    text-align: center;
    vertical-align: middle;
}

#title {
    display: flex;
    justify-content: left;
    align-items: center;
}

#header {
    position: absolute;
    display: flex;
    flex-direction: row;
    top: 0;
    left: 0;
    width: 100%;
    /* background-color: #fe953977; */
    background-color: white;
    font-family: 'League Spartan', sans-serif;
    font-size: 20px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
}

.back-button {
    background-color: transparent;
    border: none;
    padding-left: 20px;
}

/* Estils per el spinner */
.spinner-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: rgb(255, 255, 255);
    z-index: 9999;
}

.spinner {
    width: 40px;
    height: 40px;
    border: 4px solid #9e9e9e;
    border-top: 4px solid #f1efe7;
    border-radius: 50%;
    animation: spin 2s linear infinite;
}

/* Estilos para el mensaje "Estamos generando sus preguntas" */
.generating-message {
    margin-top: 10px; /* Espacio entre el spinner y el mensaje */
    font-size: 14px;
    color: #333; /* Color del texto */
    text-align: center; /* Centrar el texto */
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}